.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  background-color: lightgray;
  opacity: 80%;
}

.background {
  position: fixed;
  background-image: url('backgroundPic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
  opacity: 0.6;
}

.header1 {
  font-size: 3em;
  text-align: center;
}

.icons {
  width: 584px;
  height: 115px;
  mix-blend-mode: soft-light;
}

.contact {
  font-family: 'Arial';
  font-size: 1em;
  text-shadow: 1.5px 1.5px rgb(100 100 100 / 50%);
  line-height: .8em;
  position: relative;
  left: 100px;
}

i{
  font-size: 5.2em;
}

figure {
  float: left;
}

#project {
  font-size: 3em;
  position: relative;
  left: 15%;
}

a {
  font-size: 1.5em;
  color: darkblue;
}