body {
  background-color: azure;
}

.row {
  margin-bottom: 40px;
}

.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(49, 49, 49, 0.8);
  padding: 10px;
  color: rgb(152, 177, 177);
}

.background {
  position: fixed;
  background-image: url('backgroundPic2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
  opacity: 80%;
}

.header1 {
  font-size: 3em;
  text-align: center;
}

.header2 {
  font-size: 2em;
  text-align: center;
}

i{
  font-size: 5.2em;
}

a {
  font-size: 1.5em;
  color: rgb(152, 177, 177);
}

#information-container {
  height: auto;
}